﻿@page "/functions/new"
@page "/functions/edit/{id}"

@using BootstrapBlazor.Components;
@attribute [Authorize]
@inherits TokenOwningComponentBase<IFunctionsService>

@inject NavigationManager NavigationManager
@inject MessageService MessageService
@inject ILogger<FunctionEdit> Logger

@if (InputModel == null)
{
    if (functionNotFound)
    {
        <p><em>Sorry, function not found</em></p>
    }
    else
    {
        <p><em> Loading...</em></p>
    }
}
else
{
    <Message @ref="messageElement" />

    if (Id != null)
    {
        <h3>Edit function '@($"{InputModel.SystemName}({InputModel.ArgsCount})")'</h3>
    }
    else
    {
        <h3>New function</h3>
    }

    <div class="col-md-6">
        <FunctionEditForm @ref="functionEditForm" InputModel="@InputModel" OnSave="OnValidSubmitAsync" />
    </div>
}

@code {
    private Message? messageElement;
    private bool functionNotFound;
    private FunctionEditForm functionEditForm = null!;
    public FunctionModel? InputModel { get; private set; }

    [Parameter]
    public string? Id { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            if (!Guid.TryParse(Id, out var guid))
            {
                functionNotFound = true;
            }
            else
            {
                var model = await Service.GetFunctionAsync(guid);
                if (model == null)
                {
                    functionNotFound = true;
                }

                InputModel = model;
            }
        }
        else
        {
            InputModel = new FunctionModel() {
                Return = new ReturnValueModel(),
                Id = Guid.NewGuid(),
                LibraryVersion = "1.0.0"    // temporary
            };

            InputModel.Titles.Add(new TextResource() { Lang = "ru" });
            InputModel.Descriptions.Add(new TextResource() { Lang = "ru" });
        }

        await base.OnInitializedAsync();
    }

    private async Task OnValidSubmitAsync()
    {
        if (InputModel == null)
            return;

        try
        {
            if (Id != null)
            {
                await Service.FunctionUpdateAsync(InputModel);
            }
            else
            {
                var id = await Service.FunctionNewAsync(InputModel);
                Id = id.ToString();
            }
            NavigationManager.NavigateTo($"functions/edit/{InputModel.Id}");

            await ShowSuccessMessageAsync();
        }
        catch (Exceptions.ModelValidationException e)
        {
            functionEditForm.ServerSideValidation.DisplayErrors(e.ValidationErrors);
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Save function error");
            await ShowErrorMessageAsync(e.Message);
        }
    }

    private Task ShowSuccessMessageAsync() => ShowMessageAsync(Color.Success, "Function was saved");

    private Task ShowErrorMessageAsync(string errorMessage) => ShowMessageAsync(Color.Danger, $"Save function error: {errorMessage}");

    private async Task ShowMessageAsync(Color color, string message)
    {
        messageElement!.SetPlacement(Placement.Top);
        await MessageService.Show(new MessageOption() {
            Host = messageElement,
            Content = message,
            ShowDismiss = false,
            Color = color
        });
    }
}
