﻿@inherits TokenOwningComponentBase<FunctionEditForm.ServiceBunch>

<EditForm Model="InputModel" OnValidSubmit="OnValidSubmitAsync">
    <ServerSideValidation @ref="ServerSideValidation" />
    <CustomCssClassProvider ProviderType="FunctionsEditFormBootstrapCssClassProvider" />
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p></p>
    <h5>
        Function header
        <small class="text-muted">common part for all functions with same name</small>
    </h5>

    @*System name*@
    <div class="form-group">
        <label for="@nameof(InputModel.SystemName)">Function name: </label>
        <InputText id="@nameof(InputModel.SystemName)"
                   DisplayName="function name"
                   @bind-Value="InputModel.SystemName" />
        <ValidationMessage For="@(() => InputModel.SystemName)" />
    </div>

    @*Titles*@
    <TextResourcesList Items="InputModel.Titles" Caption="Title">
        <ItemTemplate Context="item">
            <InputText @bind-Value="@item.Text" />
        </ItemTemplate>
    </TextResourcesList>

    @*Groups*@
    @if (Groups != null && Groups.Any())
    {
        <h6>Groups:</h6>
        @foreach (var groupItem in Groups)
        {
            <div class="form-check form-check-inline">
                <InputCheckbox id="@($"group{groupItem.Group.Id}")" class="form-check-input" @bind-Value="@groupItem.Selected" />
                <label class="form-check-label" for="@($"group{groupItem.Group.Id}")">@groupItem.Group.Alias</label>
            </div>
        }
    }

    <p></p>
    <h5>
        Function definition
        <small class="text-muted">Particular part for function with those arguments</small>
    </h5>

    @*Descriptions*@
    <TextResourcesList Items="InputModel.Descriptions" Caption="Description">
        <ItemTemplate Context="item">
            <InputTextArea @bind-Value="@item.Text" />
        </ItemTemplate>
    </TextResourcesList>

    @*Arguments count*@ @*@onchange="OnArgumentsCountChanged"*@
    <div class="form-group col-md-2">
        <label for="@nameof(InputModel.ArgsCount)">Arguments count:</label>
        <InputNumber id="@nameof(InputModel.ArgsCount)"
                     DisplayName="arguments count"
                     @bind-Value="InputModel.ArgsCount"
                     @oninput="OnArgumentsCountChanged" />
        <ValidationMessage For="@(() => InputModel.ArgsCount)" />
    </div>

    @*Arguments*@
    <table id="ArgumentsTable" class="table table-borderless">
        <thead>
            <tr>
                <th class="col-3">Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in InputModel.Arguments.Take(InputModel.ArgsCount))
            {
                <tr>
                    <td><NullableInputSelect Items="DataTypes" @bind-Value="p.Type" /><ValidationMessage For="@(() => p.Type)" /></td>
                    <td><InputText @bind-Value="@p.Name" /><ValidationMessage For="@(() => p.Name)" /></td>
                </tr>
            }
        </tbody>
    </table>

    @*Return value*@
    <div class="form-group form-check col-md-2">
        <InputCheckbox id="@nameof(withReturnValue)" @bind-Value="@withReturnValue" />
        <label class="form-check-label" for="@nameof(withReturnValue)">With return value</label>
    </div>


    @if (InputModel.Return != null && withReturnValue)
    {
        <div class="form-group col-md-2">
            <label for="@nameof(InputModel.Return)">Return type:</label>
            <NullableInputSelect Items="DataTypes" @bind-Value="@InputModel.Return!.Type" />
        </div>
    }

    @*Library version*@
    <div class="form-group col-md-2">
        <label for="@nameof(InputModel.LibraryVersion)">Library version</label>
        <InputText id="@nameof(InputModel.LibraryVersion)" @bind-Value="@InputModel.LibraryVersion" />
        <ValidationMessage For="@(() => InputModel.LibraryVersion)" />
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
    <a href="/functions" class="btn btn-secondary">Back</a>

</EditForm>

@code {

    [Parameter]
    public FunctionModel InputModel { get; set; } = new FunctionModel();

    [Parameter]
    public EventCallback OnSave { get; set; }

    public ServerSideValidation ServerSideValidation { get; set; } = null!;

    private bool withReturnValue { get; set; }

    public IEnumerable<string>? DataTypes { get; private set; }
    public IEnumerable<GroupSelectedModel>? Groups { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        DataTypes = await Service.DictionarySource.GetDataTypesAsync();
        var groupsList = await Service.Groups.GetGroupsAsync();
        Groups = groupsList.Select(i => new GroupSelectedModel {
            Selected = InputModel.Groups != null && InputModel.Groups.Contains(i.Id),
            Group = i
        }).ToArray();

        withReturnValue = InputModel.Return != null;
        if (InputModel.Return == null)
            InputModel.Return = new ReturnValueModel() { Type = DataTypes.First() };

        if (InputModel.Return != null && InputModel.Return.Type == null)
            InputModel.Return.Type = DataTypes.First();
    }

    private Task OnValidSubmitAsync()
    {
        if (!withReturnValue)
            InputModel.Return = null;

        while (Math.Max(0, InputModel.ArgsCount) < InputModel.Arguments.Count)
            InputModel.Arguments.Remove(InputModel.Arguments.Last());

        if (string.IsNullOrWhiteSpace(InputModel.LibraryVersion))
            InputModel.LibraryVersion = null;

        if (Groups != null)
            InputModel.Groups = Groups.Where(i => i.Selected).Select(i => i.Group.Id).ToList();
        else
            InputModel.Groups = null;

        OnSave.InvokeAsync();
        return Task.CompletedTask;
    }

    private void OnArgumentsCountChanged(ChangeEventArgs e)
    {
        //e.
        if (e.Value != null && int.TryParse(e.Value.ToString(), out var cnt))
            while (InputModel.Arguments.Count < cnt)
            {
                InputModel.Arguments.Add(new ArgumentModel());
            }
    }

    public class GroupSelectedModel
    {
        public bool Selected { get; set; }
        public GroupBriefModel Group { get; set; } = null!;
    }

    public record ServiceBunch(IDictionarySource DictionarySource, IGroupsService Groups);
}
