﻿@page "/functions"

@using SPR.Documentation.WebEditor.Abstractions
@using SPR.Documentation.WebEditor.Models
@using SPR.Documentation.WebEditor.Components
@attribute [Authorize]
@inherits TokenOwningComponentBase<IFunctionsService>

<h3>Index</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/functions/new" class="btn btn-primary">Create new</a>
            </li>
            <li class="nav-item">
                <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search" @bind="filter" @bind:event="oninput">
                <button class="btn btn-outline-success my-2 my-sm-0" @onclick="SearchAsync">Search</button>
            </li>
        </ul>
    </div>
</nav>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}

<table class="table table-borderless table-hover">
    <tbody>
        <Virtualize @ref="FunctionsComponent" ItemsProvider="LoadFunctionsAsync" Context="item">
            <ItemContent>
                <tr>
                    <td><a href="/functions/edit/@item.Id">@($"{item.SystemName} ({item.ArgsCount})")</a></td>
                </tr>
            </ItemContent>
            <Placeholder>
                <tr>
                    <td>Loading...</td>
                </tr>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>

@code {

    private string? filter;
    private bool isLoading = true;

    private Virtualize<FunctionBriefModel> FunctionsComponent { get; set; } = null!;


    private async Task SearchAsync()
    {
        isLoading = true;
        await FunctionsComponent.RefreshDataAsync();
    }

    private async ValueTask<ItemsProviderResult<FunctionBriefModel>> LoadFunctionsAsync(ItemsProviderRequest request)
    {
        var count = await Service.GetCountAsync(filter);
        var (items, exausted) = await Service.GetListAsync(filter, request.StartIndex, request.Count);        
        isLoading = false;
        StateHasChanged();
        return new ItemsProviderResult<FunctionBriefModel>(items, count);
    }
}
