@using SPR.Documentation.WebEditor.Services;
@using Microsoft.Extensions.Logging;
@inject ITokenContainer TokenProvider

@code {
    [Parameter]
    public InitialTokenProvider InitialState { get; set; } = null!;

    [Inject]
    public ILogger<App> logger { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        logger.LogTrace("InitialState {@InitialState}", InitialState);

        TokenProvider.Assign(InitialState);

        return base.OnInitializedAsync();
    }
}

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Not authorized</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Checking</p>
                </Authorizing>
            </AuthorizeRouteView>
            @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>