﻿@page  "/{handler?}"

@using Microsoft.AspNetCore.Authentication
@using SPR.Documentation.WebEditor.Services;
@model _HostAuthModel
@namespace SPR.Documentation.WebEditor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@{
    var authResult = await HttpContext.AuthenticateAsync("oidc");
    var expiresAt = await HttpContext.GetTokenAsync("expires_at");    
    var tokens = new InitialTokenProvider {
        AccessToken = await HttpContext.GetTokenAsync("access_token"),
        RefreshToken = await HttpContext.GetTokenAsync("refresh_token"),
        ExpiresAt = expiresAt != null ? DateTimeOffset.Parse(expiresAt) : null,
        Expiration = authResult.Properties?.ExpiresUtc,
        //SubjectId = authResult.subj
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPR.Documentation.WebEditor</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">
    <link href="SPR.Documentation.WebEditor.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" param-InitialState="tokens" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
</body>
</html>
