﻿@page "/groups/new"
@page "/groups/edit/{id}"

@using BootstrapBlazor.Components;

@inherits TokenOwningComponentBase<IGroupsService>

@inject NavigationManager NavigationManager
@inject MessageService MessageService
@inject ILogger<GroupEdit> Logger

<h3>Group @inputModel?.Alias</h3>

@if (groupNotFound)
{
    <p><em>Sorry, group not found</em></p>
}
else
{
    @if (inputModel == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Message @ref="messageElement" />

        <div class="col-md-6">
            <EditForm Model="inputModel" OnValidSubmit="OnValidSubmitAsync">
                <ServerSideValidation @ref="serverSideValidation" />
                <CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="@nameof(inputModel.Alias)">Group system name:</label>
                    <InputText id="@nameof(inputModel.Alias)"
                               DisplayName="group name"
                               @bind-Value="inputModel.Alias" />
                    <ValidationMessage For="@(() => inputModel.Alias)" />
                </div>

                @*Titles*@
                <TextResourcesList Items="inputModel.Titles" Caption="Title">
                    <ItemTemplate Context="item">
                        <InputText @bind-Value="@item.Text" />
                    </ItemTemplate>
                </TextResourcesList>

                <button class="btn btn-primary" type="submit">Save</button>
                <a href="/groups" class="btn btn-secondary">Back</a>
            </EditForm>
        </div>
    }
}

@code {
    [Parameter]
    public string? Id { get; set; } = null!;

    private GroupModel? inputModel;

    private bool groupNotFound = false;
    private Message? messageElement;
    private ServerSideValidation serverSideValidation = null!;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            if (Guid.TryParse(Id, out var id))
            {
                inputModel = await Service.GetGroupAsync(id);
            }

            if (inputModel == null)
                groupNotFound = true;
        }
        else
        {
            inputModel = new GroupModel {
                Id = Guid.NewGuid(),
            };
            inputModel.Titles.Add(new TextResource { Lang = "ru", Text = string.Empty });
        }

        await base.OnInitializedAsync();
    }

    private async Task OnValidSubmitAsync()
    {
        if (inputModel == null)
            return;

        try
        {
            if (string.IsNullOrEmpty(Id))
            {
                var guid = await Service.CreateGroupAsync(inputModel!);
                Id = guid.ToString();
            }
            else
            {
                await Service.UpdateGroupAsync(inputModel!);
            }
            NavigationManager.NavigateTo($"groups/edit/{Id}");
            await ShowSuccessMessageAsync();
        }
        catch (Exceptions.ModelValidationException e)
        {
            serverSideValidation.DisplayErrors(e.ValidationErrors);
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Save group error");
            await ShowErrorMessageAsync(e.Message);
        }
    }

    private Task ShowSuccessMessageAsync() => ShowMessageAsync(Color.Success, "Group was saved");

    private Task ShowErrorMessageAsync(string errorMessage) => ShowMessageAsync(Color.Danger, $"Save group error: {errorMessage}");

    private async Task ShowMessageAsync(Color color, string message)
    {
        messageElement!.SetPlacement(Placement.Top);
        await MessageService.Show(new MessageOption() {
            Host = messageElement,
            Content = message,
            ShowDismiss = false,
            Color = color
        });
    }
}
