﻿@page "/groups"

@using IdentityModel.Client
@using Microsoft.AspNetCore.WebUtilities
@using SPR.Documentation.WebEditor.Abstractions
@using SPR.Documentation.WebEditor.Models
@using SPR.Documentation.WebEditor.Components
@attribute [Authorize]
@inherits TokenOwningComponentBase<IGroupsService>
@inject NavigationManager NavigationManager

<h3>Groups</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/groups/new" class="btn btn-primary">Create new</a>
            </li>
        </ul>
    </div>
</nav>

@if (groups == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-borderless table-hover">
        <tbody>
            @foreach (var item in groups)
            {
                <tr><td><a href="/groups/edit/@item.Id">@item.Alias</a></td></tr>
            }

        </tbody>
    </table>
}

@code {

    private IEnumerable<GroupBriefModel>? groups = null;

    protected override async Task OnInitializedAsync()
    {
        groups = await Service.GetGroupsAsync();
        await base.OnInitializedAsync();
    }
}
