﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />

        <div class="container">
            <div class="row justify-content-md-center" style="color:white">
                <div class="col-sm">
                    <VersionComponent />
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="/logoutRoutine" target="_blank">Log out</a>
        </div>

        <div class="content px-4">
            <CustomErrorBoundary>
                @Body
            </CustomErrorBoundary>
        </div>
    </div>    
</div>
