﻿<div class="@($"alert alert-{Style.ToString().ToLower()}") alert-dismissible fade show" role="alert">
    @ChildContent
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = @<b>This is a default value</b>;

    [Parameter]
    public AlertStyle Style { get; set; }



    public enum AlertStyle
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info,
        Light,
        Dark
    }
}
