﻿@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Http

@inherits ErrorBoundary
@inject NavigationManager NavigationManager
@inject ILogger<CustomErrorBoundary> Logger

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
} 
else
{
    <div class="alert alert-danger" role="alert">
        A error occured: @CurrentException.Message        
    </div>
    <a href="@NavigationManager.ToBaseRelativePath(@NavigationManager.Uri)">Try again...</a>
}

@code {
    protected override void OnInitialized()
    {        
        NavigationManager.LocationChanged += (s, e) => Recover();
        base.OnInitialized();
    }

    protected override Task OnErrorAsync(Exception exception)
    {
        if (exception is SwaggerApiClient.ApiException e && e.StatusCode == StatusCodes.Status401Unauthorized)
        {
            var redirectUri = QueryHelpers.AddQueryString(
                RoutingConsts.LoginUrl, 
                RoutingConsts.RedirectUrlQueryParam, 
                NavigationManager.ToBaseRelativePath(NavigationManager.Uri));

            NavigationManager.NavigateTo(redirectUri, true);

            return Task.CompletedTask;
        }
        else
        {
            Logger.LogError(exception, "Unhandled exception");
            return base.OnErrorAsync(exception);
        }
    }
}
