﻿@typeparam TItem
@inherits InputBase<TItem>

@if (Items != null)
{    
    <InputSelect @bind-Value="@HandleChange">
        @foreach (var i in Items)
        {
            <option>@i</option>
        }
    </InputSelect>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }

    public TItem? HandleChange {
        get { return CurrentValue; }
        set { CurrentValue = value; }
    }

    protected override bool TryParseValueFromString(
        string? value, 
        [System.Diagnostics.CodeAnalysis.MaybeNullWhen(false)] out TItem result, 
        [System.Diagnostics.CodeAnalysis.NotNullWhen(false)] out string validationErrorMessage)
    {
        result = default;
        validationErrorMessage = "";
        return false;
    }
}
