﻿<table class="table table-borderless">
    <thead>
        <tr>
            <th class="col-2"></th>
            <th>@Caption</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td><InputText @bind-Value="item.Lang" /></td>
                <td>@ItemTemplate(item)</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? Caption { get; set; }

    [Parameter]
    public ICollection<TextResource> Items { get; set; } = null!;

    [Parameter]
    public RenderFragment<TextResource> ItemTemplate { get; set; } = null!;    
}
